*.o
*.lo
*.a
*.la
.libs/
*~
autom4te.cache/
Makefile
config.log
config.status
config.cache
libtool
.deps/
.*
include/sane/config.h.in
testsuite/sanei/Makefile.in
testsuite/tools/Makefile.in
INSTALL
Makefile.in
aclocal.m4
backend/Makefile.in
compile
config.guess
config.sub
configure
depcomp
doc/Makefile.in
frontend/Makefile.in
include/Makefile.in
install-sh
japi/Makefile.in
lib/Makefile.in
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
missing
po/Makefile.in
sanei/Makefile.in
testsuite/Makefile.in
tools/Makefile.in
